body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
}

.login-container {
    margin-top: 150px;
    margin-left: 29%;
    display: flex;
    width: 70%;
    max-width: 850px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-form {
    padding: 40px;
    flex: 1;
    background-color: #fff;
}

.login-form h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.login-form p {
    margin-bottom: 40px;
    color: #555;
    text-align: center;
    
}

.login-form form {
    display: flex;
    flex-direction: column;
    
}

.login-form label {
    margin-bottom: 5px;
    color: #000;
}

#size-label {
    font-family: 'Montserrat-Medium';
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.options a {
    text-decoration: none;
    color: #000;
}

.options a:hover {
    color: #686868;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #EA454C;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Montserrat-Medium';
}

button:hover {
    background-color: #c52d35;
}

.login-form p a {
    color: #ff4b4b;
    text-decoration: none;
}

.login-image {
    flex: 1;
    background: url('/img/sneakers/AJ4.jpg')center;
    background-size: cover;
}

#no-account {
    margin-top: 37px;
    font-size: 0.8em;
}