
footer {
    color: #ffffff;
    padding: 40px 0;
    margin-top: 5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.line {
    width: 1px;
    height: 200px;
    background-color: #e41c1c;
}

.footer-title h2 {
    font-size: 1.5em;
}

.footer-title h2 span {
    color: #e74c3c;
}

#left{
    display: flex;
    width: 50%;
    border-right: 1px solid #e41c1c;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.footer-description {
    width: 50%;
}

#right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
}

#right h3 {
    color: #DF1832;
    font-size: 1rem;
    font-family: 'Montserrat-Regular';
    margin-bottom: 10px;
}

.footer-services ul, .footer-about ul, .footer-follow ul {
    list-style: none;
}

.footer-services ul li a, .footer-about ul li a, .footer-follow ul li a {
    text-decoration: none;
    color: #ffffff;
    line-height: 2.5;
}

.footer-services ul li a:hover, .footer-about ul li a:hover, .footer-follow ul li a:hover {
    color: #e74c3c;
}

.footer-services ul li a {
    font-family: 'Montserrat-Regular';
}

.footer-about ul li a {
    font-family: 'Montserrat-Regular';
}

.footer-about ul li a:hover {
    color: #e74c3c;
}

.footer-about, .footer-services, .footer-follow {
    width: 33%;
}

.footer-follow img {
    cursor: pointer;
    max-width: 40px;
    margin: 30px 10px;
}

#b {
    margin-left: 10px;
    }

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    color: #b6b6b6;
}


