#section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

#section-1-div-1 {
    color: white;
    max-width: 700px;
    padding: 0 10px;
    margin-left: 150px;
}

#section-1-div-1 h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#section-1-div-1 p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 2; 
}

#section-1-div-1 button {
    padding: 15px 30px;
    background: linear-gradient(180deg, #DF1832, #892734, #63212A, #421C21, #490f0f);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat-Medium';
    transition: transform 0.3s ease;
}

#section-1-div-1 button a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#section-1-div-1 button:hover {
    background: linear-gradient(180deg, #eb1935, #9c2d3c, #7a2934, #64222c, #4e1010);
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

#section-1-div-2 {
    position: relative;
    width: 1050px;
    margin-top: 90px;
    margin-right: 80px;
}

#section-1-div-2 h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}

#section-1-div-2 img {
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}

#section-1-div-3 {
    display: flex;
    justify-content: center;
    height: 5vh;
}

#section-1-div-3 img {
    width: 40px;
    cursor: pointer;
}



/* Section 2 */


#section-2 {
    color: white;
    padding: 75px 0;
    text-align: center;
    align-items: center;
    height: 100vh;
}

#section-2-div-1 h1 {
    font-size: 3em;
    margin: 0;
}

#section-2-div-1 p {
    font-size: 1.4em;
    margin: 10px 0 30px;
}

#section-2-div-2 {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 100px;
}

#a {
    font-family: 'Montserrat-Bold';
    }


.sneaker-card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sneaker-image {
    background-color: #e0e0e0;
    padding: 20px;
}

.sneaker-image img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 180px;
}

.sneaker-info {
    padding: 40px;
    position: relative;
}

.brand-name {
    font-size: 0.9em;
    color: #999;
}

.model-name {
    font-size: 1.7em;
    color: #333;
    margin: 20px 0;
}

.view-button {
    background-color: #a01717;
    border: none;
    border-radius: 25px;
    padding: 17px 60px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: rgb(126, 25, 25);
}

#b {
    transform: rotateY(180deg);
}

#c {
    padding-bottom: 10px;
}

#section-2-div-3 {
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#section-2-div-3 img {
    width: 40px;
    cursor: pointer;
}

#section-3 {
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section-3-div-1 h1 {
    font-size: 3em;
    margin-top: 5vh;
}

#section-3-div-1 p {
    font-size: 1.4em;
    margin: 10px 0 30px;
}

.grid-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 20px;
    max-width: 800px;
}

.grid-item {
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.grid-item.large {
    grid-row: span 2;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}