*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    @font-face {
        font-family: 'Montserrat-Medium';
        src: url('/img/font/Montserrat-Medium.ttf');
    }

    @font-face {
        font-family: 'Montserrat-Regular';
        src: url('/img/font/Montserrat-Regular.ttf');
    }

    @font-face {
        font-family: 'Montserrat-Bold';
        src: url('/img/font/Montserrat-Bold.ttf');
    }

    body {
    font-family: 'Montserrat-Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    }

    nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    /* a choisir */
    /*border-bottom: 5px solid rgba(0, 0, 0, 0.1);*/
    align-items: center;
    color: white;
    position: sticky;
    }

    nav a {
    text-decoration: none;
    color: white;
    }

    #a {
    font-family: 'Montserrat-Bold';
    }
    /* todo script js pour changer la police en fonction de la page active */

    #nav-div-1 a{
    margin-right: 30px;
    }

    #nav-div-2 {
        margin-right: 100px;
    }

    #nav-div-3 a{
    margin-right: 25px;
    }