.wishlist-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 3em;
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.wishlist-item {
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: #cccccc 1px solid;
}

.wishlist-item img {
    max-width: 270px;
    margin-right: 10px;
    transform: scaleX(-1);
}


.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 1.8em;
    margin: 0;
}

.item-subtitle {
    font-size: 1.8em;
    color: #cccccc;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;

}

.wishlist-link {
    display: flex;
    align-items: center;
}

.item-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-actions:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.remove {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 2.3em;
    cursor: pointer;
}

a {
    text-decoration: none;;
}

#wishlist-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#wishlist-empty h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#wishlist-empty p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#part-1 img {
    width: 60px;
    max-width: 60px;
    padding: 10px;
    margin-top: 134px;
}


#wishlist-empty button {
    padding: 15px 30px;
    background: linear-gradient(180deg, #DF1832, #892734, #63212A, #421C21, #490f0f);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat-Bold';
    transition: transform 0.3s ease;
}

#wishlist-empty button a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#wishlist-empty button:hover {
    background: linear-gradient(180deg, #eb1935, #9c2d3c, #7a2934, #64222c, #4e1010);
    /* zoom */
    transform: scale(1.04);
    transition: transform 0.3s ease;
}


