<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/account.css">
    <title>Account</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <div id="nav-div-1">
            <a id="a" href="/">Home</a>
            <a href="/releases">Releases</a>
            <a href="/news">News</a>
        </div>

        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>

        <div id="nav-div-3">
            <a href="">
            <img src="/img/vector/heart.svg" alt="">
            </a>
            <a href="">
            <img src="/img/vector/user.svg" alt="">
            </a>
        </div>
    </nav>

    <div class="login-container">
        <div class="login-form">
            <h1>BON RETOUR</h1>
            <p>Bon Retour! Merci d'entrer vos informations</p>
            <form>
                <label id="size-label" for="email">Email</label>
                <input type="email" id="email" placeholder="Entrez votre email" required>
                
                <label id="size-label" for="password">Mot de passe</label>
                <input type="password" id="password" placeholder="****************" required>
                
                <div class="options">
                    <label>
                        <input type="checkbox"> Rester Connecté
                    </label>
                    <a href="#">Mot de passe oublié</a>
                </div>
                
                <button type="submit">Se Connecter</button>
            </form>
            <p id="no-account">Pas de compte? <a href="#">Inscrivez-vous gratuitement</a></p>
        </div>
        <div class="login-image">

        </div>
    </div>


    <!-- Footer -->

    <!-- todo -->



</body>
</html>