<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <div id="nav-div-1">
            <a id="a" href="/">Home</a>
            <a href="/releases">Releases</a>
            <a href="/news">News</a>
        </div>

        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>

        <div id="nav-div-3">
            <a href="">
            <img src="/img/vector/heart.svg" alt="">
            </a>
            <a href="">
            <img src="/img/vector/user.svg" alt="">
            </a>
        </div>
    </nav>

    <!-- Vertical NavBar -->
    <!-- todo faire la navbar en js -->

    <div id="vertical-nav">
        <a href="#section-1"></a>
        <a href="#section-2"></a>
        <a href="#section-3"></a>
    </div>

    <!-- Section 1 -->

    <div id="section-1">

        <div id="section-1-div-1">

            <h1>Découvre un moyen simple pour cop tes paires</h1>
            <p>Explorez notre plateforme pour découvrir les dernières sorties, les tendances à ne pas manquer, et surtout ou vous procurez vos sneakers préférées.</p>

            <button>
                <a href="/releases">Découvrir</a>
            </button>

        </div>

        <div id="section-1-div-2">

            <h1>01</h1>
            <img src="/img/sneakers/AJ1.png" alt="">

        </div>

        <div id="section-1-div-3">

            <img src="/img/vector/arrow-down.svg" alt="">

        </div>

    </div>


    <!-- Section 2 -->

    <div id="section-2">

        <div id="section-2-div-1">

            <h1>Best-Sellers</h1>
            <p>Habille toi avec les sneakers du moment</p>

        </div>

        <div id="section-2-div-2">

            <div class="product-card-1">
                <div class="product-image">
                    <img src="" alt="New Balance">
                </div>
                <div class="product-details">
                    <h3 class="brand-logo">
                        <img src="" alt="Brand Logo">
                    </h3>
                    <h4>NEW BALANCE</h4>
                    <h2>2002R</h2>
                </div>
                <button class="view-button">VOIR</button>
            </div>

            <div class="product-card-2">
                <div class="product-image">
                    <img src="" alt="Jordan 1">
                </div>
                <div class="product-details">
                    <h3 class="brand-logo">
                        <img src="" alt="Brand Logo">
                    </h3>
                    <h4>JORDAN</h4>
                    <h2>1</h2>
                </div>
                <button class="view-button">VOIR</button>
            </div>

            <div class="product-card-3">
                <div class="product-image">
                    <img src="" alt="Adidas">
                </div>
                <div class="product-details">
                    <h3 class="brand-logo">
                        <img src="" alt="Brand Logo">
                    </h3>
                    <h4>ADIDAS</h4>
                    <h2>Campus</h2>
                </div>
                <button class="view-button">VOIR</button>
            </div>

        </div>

        <div id="section-2-div-3">
            
            <img src="/img/vector/arrow-down.svg" alt="">

        </div>

    <!-- Section 3 -->
            
    <div id="section-3">

        <div class="news-grid">
            <div class="news-card large">
                <img src="" alt="Sneaker 1">
            </div>
            <div class="product-card">
                <img src="" alt="Sneaker 2">
            </div>
            <div class="product-card">
                <img src="" alt="Sneaker 3">
            </div>
        </div>  

    </div>

    <!-- Footer -->

    <!-- todo -->



</body>
</html>