<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Info</title>
</head>
<body>
    <nav>
        <div id="nav-div-1">
            <a id="a" href="/">Home</a>
            <a href="/releases">Releases</a>
            <a href="/news">News</a>
        </div>
        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>
        <div id="nav-div-3">
            <a href=""><img src="/img/vector/heart.svg" alt=""></a>
            <a href=""><img src="/img/vector/user.svg" alt=""></a>
        </div>
    </nav>
    <section id="login">
        <div class="login-container">
            <div class="login-form">
                <h1>Mes Infos</h1>
                <p></p>
                <form id="loginForm">
                    <label id="size-label" for="name">Nom</label>
                    <input type="text" id="name" placeholder="" required>
                    <label id="size-label" for="firstname">Prénom</label>
                    <input type="text" id="firstname" placeholder="" required>
                    <label id="size-label" for="email">Email</label>
                    <input type="email" id="email" placeholder="" required>
                    <label id="size-label" for="password">Nouveau mot de passe</label>
                    <input type="password" id="password" placeholder="" required>
                    <label id="size-label" for="password">Comfirmer mot de passe</label>
                    <input type="password" id="password" placeholder="" required>
                    <button type="submit">Mettre à jour mon profil</button>

                </form>
            </div>
            <div class="login-image"></div>
        </div>
    </section>
</body>
</html>
