<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Info</title>
</head>
<body>
    <nav>
        <div id="nav-div-1">
            <a id="a" href="/">Home</a>
            <a href="/collection">Releases</a>
            <a href="/news">News</a>
        </div>
        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>
        <div id="nav-div-3">
            <a href="/wishlist"><img src="/img/vector/heart.svg" alt=""></a>
            <a href="/account/info"><img src="/img/vector/user.svg" alt=""></a>
        </div>
    </nav>
    <section id="login">
        <div class="login-container">
            <div class="login-form">
                <h1>Vos Infos</h1>
                <p></p>
                <form id="loginForm">
                    <p id="name"></p>
                    <p id="prenom"></p>
                    <p id="email"></p>
                    <button type="button" id="logoutButton">Se Déconnecter</button>
                </form>
            </div>
            <div class="login-image"></div>
        </div>
    </section>

    <footer>
        <div class="footer-content">

        <div id="left">

            <div class="footer-title">
                <h2>Sneaker<span>Head</span></h2>
                </div>

            <div class="footer-description">
                <p>Bienvenue sur SneakerHeadZ, votre site de référence pour la recherche de sneakers. </p>
            </div>

        </div>

            <div id="right">

            <div class="footer-services">
                <h3>Services</h3>
                <ul>
                    <li><a href="/collection">Releases</a></li>
                    <li><a href="/#section-3">News</a></li>
                </ul>
            </div>

            <div class="footer-about">
                <h3>En savoir plus</h3>
                <ul>
                    <li><a href="/">Qui sommes nous</a></li>
                    <li><a href="/">FAQ</a></li>
                </ul>
            </div>

            <div class="footer-follow">
                <h3>Suivez nous</h3>
                    <a href="https://www.facebook.com/"><img src="/img/vector/001-facebook.svg" alt="Facebook"></a>
                    <a href="https://x.com/" id="b"><img src="/img/vector/003-twitter.svg" alt="Twitter"></a>
                    <a href="https://www.instagram.com/"><img src="/img/vector/004-instagram.svg" alt="Instagram"></a>
            </div>
            
        </div>

        </div>

    </footer>

    <div class="footer-bottom">
        <p>&copy; 2024 SneakerHead. All rights reserved</p>
    </div>

    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/account/api/user')
                .then(response => response.json())
                .then(user => {
                    if (user.message) {
                        alert(user.message);
                    } else {
                        user.nom = user.nom.charAt(0).toUpperCase() + user.nom.slice(1);
                        user.prenom = user.prenom.charAt(0).toUpperCase() + user.prenom.slice(1);
                        document.getElementById('name').innerText = 'Nom : ' + user.nom;
                        document.getElementById('prenom').innerText = 'Prénom : ' + user.prenom;
                        document.getElementById('email').innerText = 'Email : ' + user.email;
                    }
                })
                .catch(error => console.error('Erreur lors de la récupération des informations utilisateur:', error));

            document.getElementById('logoutButton').addEventListener('click', function() {
                fetch('/account/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Déconnexion réussie') {
                        window.location.href = '/';
                    } else {
                        alert('Erreur lors de la déconnexion');
                    }
                })
                .catch(error => console.error('Erreur lors de la déconnexion:', error));
            });
        });
    </script>
</body>
</html>
