<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    
    <!-- NAVBAR -->
    <nav>
        <div id="nav-div-1">
            <a href="/">Home</a>
            <a href="/collection">Releases</a>
            <a id="a" href="/news">News</a>
        </div>
        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>
        <div id="nav-div-3">
            <a href="/wishlist">
            <img src="/img/vector/heart.svg" alt="">
            </a>
            <a href="/account/login">
            <img src="/img/vector/user.svg" alt="">
            </a>
        </div>
    </nav>



    <section id="sneakers-section">

    </section>


    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pathArray = window.location.pathname.split('/');
            const newsId = pathArray[pathArray.length - 1];

            // Fetch the news item details
            fetch(`/news/api/${newsId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('News not found');
                    }
                    return response.json();
                })
                .then(news => {
                    const container = document.getElementById('sneakers-section');
                    const newsCard = `
                        <div id="sneakers-img">
                            <img src="${news.photo}" alt="${news.title}" id="img_1">
                        </div>
                        <div id="sneakers-details">
                            <h1 id="name">${news.title}</h1>
                            <p id="description">${news.content}</p>

                            <div class="sneaker-price-date">
                                <p class="sneaker-date" id="date"> Date de sortie : ${news.date}</p>  
                            </div>
                        </div>

                    `;
                    container.innerHTML = newsCard;
                })
                .catch(error => {
                    console.error('Error fetching news details:', error);
                    console.log('Failed to load news details');
                });
        });
    </script>
</body>
</html>
