<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    
    <!-- NAVBAR -->
    <nav>
        <div id="nav-div-1">
            <a  href="/">Home</a>
            <a href="/collection">Releases</a>
            <a id="a" href="/news">News</a>
        </div>

        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>

        <div id="nav-div-3">
            <a href="/wishlist">
            <img src="/img/vector/heart.svg" alt="">
            </a>
            <a href="/account/login">
            <img src="/img/vector/user.svg" alt="">
            </a>
        </div>
    </nav>

    <div id="title">
        <h1>News</h1>
        <p>Apprends en plus sur les sneakers qui arrivent</p>
    </div>

    <section id="container-news">
        <div class="news-card">
            <div class="news-photo">
            <img src="/img/sneakers/news1.jpg" alt="">
            </div>
            <div class="news-info">
            <h2>La Air Jordan 1 Low OG Year of the Snake célèbre le Nouvel An chinois</h2>
            <p id="p-info">Dictée par l’astrologie chinoise, l’année 2025 sera celle du serpent de bois. On peut donc s’attendre à une riche collection inspirée par cette créature légendaire, à l’image de 2024 représentée par le dragon de bois. Retrouvez dès maintenant notre sélection des plus belles versions Year Of Dragon, mention spéciale à l’incroyable AF1.</p>
            <p id="date">19/04/2022</p>
        </div>
    </section>

</body>
</html>