<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/wishlist.css">
</head>
<body>
    
    <nav>
        <div id="nav-div-1">
            <a id="a" href="/">Home</a>
            <a href="/collection">Releases</a>
            <a href="/news">News</a>
        </div>

        <div id="nav-div-2">
            <img src="/img/vector/logo.svg" alt="logo_SneakerHead">
        </div>

        <div id="nav-div-3">
            <a href="/wishlist">
            <img src="/img/vector/heart.svg" alt="">
            </a>
            <a href="/account/login">
            <img src="/img/vector/user.svg" alt="">
            </a>
        </div>
    </nav>

    <div class="wishlist-container">
        <h1>Wishlist</h1>

        <div class="wishlist-card">
            <div class="wishlist-item">
                <img src="/img/sneakers/AJ12.png" alt="">
                <div class="item-details">
                    <p class="item-name">Air Jordan 1</p>
                    <p class="item-subtitle">VALENTINE’S DAY</p>
                </div>
                <div class="item-actions">
                    <button class="add">+</button>
                    <button class="remove">×</button>
                </div>
            </div>
        </div>

        <!-- <div id="wishlist-empty">

            <div id="part-1">

            <h1>Votre liste de likes est vide </h1> <img src="/img/vector/heart.svg" alt="">

            </div>

            <p>Connectez-vous ou ajoutez des produits à votre liste.</p>

            <button>
                <a href="/collection">Découvrir</a>
            </button>

        </div> -->

    </div>

</body>
</html>